.wrap {
    position: relative;
    display: flex;
}

.button {
    display: inline-flex;
    align-items: center;
    height: 40px;
    color: var(--color-typo-base);
    border: 1px solid var(--color-stroke);
    background-color: transparent;
    padding: 10px 10px 10px 12px;
    border-radius: 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
    margin: 0px;
    outline: none;
    white-space: nowrap;

    &Text {
        min-width: 31px;
        padding-top: 1px;
        font-weight: 400;
        font-size: 16px;
        margin: 0 6px 0 8px;
        line-height: 1;
        letter-spacing: -0.02em;
    }

    &Arrow {
        display: flex;
        flex-shrink: 0;
        color: var(--color-typo-base);
        will-change: transform;
        transition: transform 0.1s linear;
    }

    @include hover {
        &:hover {
            background-color: var(--color-surface);
            border-color: var(--color-surface);
        }
    }

    &.active {
        background-color: var(--color-surface);
        border-color: var(--color-surface);
    }

    &.active &Arrow {
        transform: scaleY(-1);
    }
}

.dropdownWrap {
    position: absolute;
    top: calc(100% + 16px);
    left: 0;
    z-index: 900;
}

.dropdown {
    position: relative;
    display: flex;
    flex-flow: column;
    width: 207px;
    padding: 8px;
    background-color: var(--color-essential);
    box-shadow: 0px 16px 40px var(--shadow-light-color);
    border-radius: 16px;
}