.friend {
    display: grid;
    grid-template-columns: 30% 30% 1fr 1fr;
    gap: 15px;
    height: 76px;

    & + .friend {
        margin-top: 16px;
    }
}

.col {
    display: flex;
    align-items: center;

    &:last-child {
        justify-content: flex-end;
    }
}

.name,
.email,
.income {
    font-size: 18px;
    letter-spacing: -0.02em;
    white-space: nowrap;
}

.name {
    font-weight: 400;
    line-height: 1;
    white-space: nowrap;
}

.email {
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
}

.income {
    font-weight: 300;
    
    &.green {
        color: var(--color-success);
    }
}

.col:first-child {
    .email {
        display: none;
    }
}

.level {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 0 1px 0;
    width: 30px;
    height: 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    border-width: 1px;
    letter-spacing: -0.02em;
    border-style: solid;
    user-select: none;
    border-radius: 6px;
}

@include max1000 {
    .friend {
        grid-template-columns: 49% 1fr 1fr;
    }

    .col {
        &:nth-child(1) {
            flex-flow: column;
            align-items: flex-start;
            justify-content: center;

            .email {
                display: block;
            }
        }

        &:nth-child(2) {
            display: none;
        }
    }

    .email {
        margin-top: 10px;
        color: var(--color-typo-ghost);
    }
}

@include max767 {
    .friend {
        grid-template-columns: 45% 1fr 1fr;
        height: 40px;

        & + .friend {
            margin-top: 30px;
        }
    }

    .col {
        &:nth-child(3) {
            justify-content: flex-end;
        }
    }

    .name,
    .email,
    .income {
        font-size: 14px;
    }

    .email {
        margin-top: 6px;
    }

    .level {
        width: 25px;
        height: 25px;
        font-size: 14px;
        padding: 1px 0 0 0;
    }
}