.placeholder {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 220px;
}

.image {
    width: 24px;
    height: 24px;
    margin-bottom: 12px;
}

.text {
    color: var(--color-typo-ghost);
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.02em;
}

@include max767 {
    .text {
        font-size: 16px;
    }
}