.token {
    display: flex;
    padding: 16px;
    background-color: transparent;
    user-select: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border-radius: 16px;
    
    @include hover {
        &:hover {
            background-color: var(--color-surface);
        }
    }

    & + .token {
        margin-top: 16px;
    }
}

.icon {
    margin-right: 16px;
}

.info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex: auto;
    min-width: 0;
}

.name,
.description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name {
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.02em;
}

.description {
    max-width: 180px;
    color: var(--color-typo-ghost);
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -0.02em;
    margin-top: 6px;
}

.value {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-left: 16px;
    font-weight: 300;
    font-size: 18px;
    line-height: 1;
    text-align: right;
    letter-spacing: -0.02em;    
}

.popupBody {
    margin: 0 -16px;
}

@include max767 {
    .popupBody {
        margin: 0 -12px;
    }

    .token {
        padding: 12px;
    }
    
    .name,
    .description,
    .value {
        font-size: 16px;
    }
}