.skeleton {
    position: relative;
    display: inline-flex;
    background-color: var(--skeleton-fill-color);
    overflow: hidden;
    transform: translateZ(0);
    border-radius: 8px;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 150%;
        height: 150%;
        transform: translateX(-100%);
        background-image: var(--skeleton-gradient-color);
        animation: skeleton 2s infinite;
    }
}

@keyframes skeleton {
    100% {
        transform: translateX(100%);
    }
}