.wrap {
    width: 100%;
    max-width: 368px;
    margin: 0 auto;
}

.field {
    margin-bottom: 30px;
}

.error {
    margin-top: 12px;
    color: var(--color-danger);
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
}

.instruction {
    color: var(--color-typo-ghost);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.02em;
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin-top: 30px;
}

.popup {
    padding: 14px;

    &Head {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-bottom: 30px;
    }

    &Icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 56px;
        height: 56px;
        color: var(--color-primary);
        border: 1px solid var(--color-primary);
        border-radius: 20px;
        margin-bottom: 20px;
    }

    &Title {
        font-size: var(--text-headline-l-font-size);
        font-weight: var(--text-headline-l-font-weight);
        line-height: var(--text-headline-l-line-height);
        white-space: nowrap;
    }

    &Body {
        color: var(--color-typo-ghost);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25;
        letter-spacing: -0.02em;
        margin-bottom: 30px;

        span {
            color: var(--color-primary);
        }
    }

    &Footer {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
}


@include max767 {
    .wrap {
        max-width: 100%;
    }

    .field {
        max-width: 400px;
        margin: 0 auto 30px auto;
    }

    .popup {
        padding: 0;
        
        &Icon {
            width: 48px;
            height: 48px;

            svg {
                width: 24px;
                height: 24px;
            }
        }

        &Body {
            font-size: 14px;
            line-height: 1.2;
        }

        &Footer {
            align-items: stretch;
        }
    }
}