.currency {
    display: flex;
    align-items: center;
    height: 60px;
    color: var(--color-typo-base);
    background-color: transparent;
    padding: 8px;
    border-radius: 12px;
    cursor: pointer;
    margin: 0px;
    border: none;
    outline: none;
    white-space: nowrap;

    @include hover {
        &:hover {
            background-color: var(--color-surface);
        }
    }
}

.symbol {
    min-width: 31px;
    flex-shrink: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    margin: 0 15px 0 8px;
}

.name {
    font-weight: 300;
    font-size: 16px;
    letter-spacing: -0.02em;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}