.wrap {
    position: relative;
    flex-grow: 1;
    padding: 100px 0 180px 0;
}

.head,
.footer {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.head {
    top: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    width: 100%;
    max-width: 400px;
    bottom: 80px;
}

.button {
    & + .button {
        margin-top: 20px;
    }
}

.body {
    margin-top: 90px;
}

.form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;

    &Head {
        margin-bottom: 40px;
    }

    &Title {
        font-size: var(--text-headline-xl-font-size);
        font-weight: var(--text-headline-xl-font-weight);
        line-height: var(--text-headline-xl-line-height);
        user-select: none;
        text-align: center;
    }

    &Description {
        font-size: 16px;
        font-weight: 400;
        color: var(--color-typo-ghost);
        line-height: 120%;
        text-align: center;
        margin: 20px -56px 0 -56px;
    }
}

.input {
    & + .input {
        margin-top: 16px;
    }
}

@include max1200 {
    .wrap {
        padding: 140px 0 180px 0;
    }

    .head {
        display: none;
    }

    .body {
        margin: 0;
    }
}

@include max767 {
    .wrap {
        padding: 140px 0 150px 0;
    }

    .form,
    .footer {
        max-width: 100%;
        padding: 0 20px;
    }

    .form {
        &Description {
            font-size: 14px;
            margin: 16px 0 0 0;
        }
    }

    .footer {
        bottom: 40px;
    }
}