.VInput {
    position: relative;
    font-family: var(--font-family-input);
    color: var(--input-typo-color-text);
    font-size: 18px;
    font-weight: 300;
    line-height: 1;

    &-Inner {
        position: relative;
        display: flex;
        width: 100%;
        height: 60px;
        border-radius: 16px;
        overflow: hidden;
        transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    }

    &-Area {
        position: relative;
        display: flex;
        align-items: center;
        flex: auto;
        min-width: 0;
        height: 100%;
    }

    &-Native {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 2;
        padding: 0;
        margin: 0;
        border: none;
        font-size: inherit;
        font-weight: inherit;
        color: currentColor;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-appearance: none;
        background-color: transparent;
        outline: none;
        padding-left: 18px;
        padding-right: 18px;

        &:-webkit-autofill:first-line {
            font-family: var(--font-family-input) !important;
            font-weight: 300 !important;

            @include min768 {
                font-size: 18px !important;
            }

            @include max767 {
                font-size: 16px !important;
            }
        }
    }

    &-Label {
        position: absolute;
        top: 20px;
        left: 18px;
        white-space: nowrap;
        pointer-events: none;
        transform-origin: left center;
        transition: transform 0.15s linear;
        z-index: 2;
    }

    &-Error {
        color: var(--color-danger);
        font-size: 14px;
        font-weight: 300;
        line-height: 1.2;
        margin-top: 8px;
    }
}

.VInput_label {
    .VInput-Native {
        padding-top: 19px;
    }
}

// colors
.VInput_default {
    .VInput-Inner {
        background-color: var(--input-default-fill-color-base);
        border: 1px solid var(--input-default-border-color-base);
    }

    .VInput-Native {
        &::placeholder {
            color: var(--input-default-typo-color-placeholder);
        }
        
        &:-webkit-autofill {
            box-shadow: 0 0 0 30px var(--input-default-fill-color-base) inset !important;
        }
    }

    .VInput-Label {
        color: var(--input-default-typo-color-label);
    }

    &.VInput_focused {
        .VInput-Inner {
            border-color: var(--input-default-border-color-active);
            box-shadow: inset 0 0 0 1px var(--input-default-border-color-active);
        }
    }
    
    &.VInput_danger {
        .VInput-Inner {
            border-color: var(--input-default-border-color-danger);
            box-shadow: inset 0 0 0 1px var(--input-default-border-color-danger);
        }
    }
}

.VInput_surface {
    .VInput-Inner {
        background-color: var(--input-surface-fill-color-base);
        border: 1px solid var(--input-surface-border-color-base);
    }

    .VInput-Native {
        &::placeholder {
            color: var(--input-surface-typo-color-placeholder);
        }

        &:-webkit-autofill {
            box-shadow: 0 0 0 30px var(--input-surface-fill-color-base) inset !important;
        }
    }

    .VInput-Label {
        color: var(--input-surface-typo-color-label);
    }

    &.VInput_focused {
        .VInput-Inner {
            border-color: var(--input-surface-border-color-active);
            box-shadow: inset 0 0 0 1px var(--input-surface-border-color-active);
        }
    }
    
    &.VInput_danger {
        .VInput-Inner {
            border-color: var(--input-surface-border-color-danger);
            box-shadow: inset 0 0 0 1px var(--input-surface-border-color-danger);
        }
    }
}

// states
.VInput_focused, .VInput_active {
    .VInput-Label {
        transform: translateY(-11px) scale(0.8);
    }
}

@include max767 {
    .VInput {
        font-size: 16px;

        &-Inner {
            height: 56px;
        }

        &-Native {
            padding-left: 16px;
            padding-right: 16px;
        }

        &-Label {
            left: 16px;
        }
    }

    .VInput_focused, .VInput_active {
        .VInput-Label {
            transform: translateY(-10px) scale(0.78);
        }
    }

    .VInput_focused {
        .VInput-Inner {
            box-shadow: none;
        }
    }
}