.fields {
    display: flex;
    flex-flow: column;
    margin-bottom: 30px;

    &Input + &Input {
        margin-top: 16px;
    }
}

.forgotPassword {
    display: flex;
    margin-top: 16px;

    &Link {
        color: var(--color-primary);
        font-size: 16px;
        font-weight: 300;
        letter-spacing: -0.02em;
        cursor: pointer;
        user-select: text;
        text-decoration: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
}