.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 282px;
}

@include max1400 {
    .container {
        padding-left: 110px;
    }
}

@include max1200 {
    .container {
        padding-left: 0;
    }
}