.tooltip {
    position: absolute;
    transform: translate(-50%, 0);
    color: var(--color-typo-ghost);
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 6px 12px;
    background: #FFFFFF;
    border-radius: 68px;
    box-shadow: 0px 0 25px #E3E2E760;
    white-space: nowrap;
    pointer-events: none;
}