.container {
    position: relative;
    flex-grow: 1;
    padding: 190px 0 180px;
}

.form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.head {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.title {
    font-size: var(--text-headline-xl-font-size);
    font-weight: var(--text-headline-xl-font-weight);
    line-height: var(--text-headline-xl-line-height);
    user-select: none;
    text-align: center;
    margin: 0 -10px 16px 0;
    margin-bottom: 16px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    color: var(--color-typo-inverse);
    background-color: var(--color-primary);
    border-radius: 20px;
    margin-bottom: 20px;
}

.description {
    color: var(--color-typo-ghost);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
}

.body {
    margin-top: 36px;
}

.button {
    margin-top: 34px;
}

.input {
    & + .input {
        margin-top: 20px;
    }
}

@include max1200 {
    .container {
        padding: 140px 0 180px 0;
    }
}

@include max767 {
    .container {
        padding: 140px 0 150px 0;
    }

    .form {
        max-width: 100%;
        padding: 0 20px;
    }

    .title {
        margin: 0 0 16px 0;
    }

    .description {
        font-size: 14px;
    }

    .body {
        margin-top: 40px;
    }

    .input {
        & + .input {
            margin-top: 16px;
        }
    }
}