.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 40px 0;
}

.title {
    color: var(--color-typo-base);
    font-weight: 400;
    font-size: 38px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: -0.03em;
    margin-bottom: 20px;
}

.description {
    font-size: 18px;
    color: var(--color-typo-ghost);
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.02em;
    margin-bottom: 40px;
}

@include max1000 {
    .title {
        font-size: 32px;
        margin-bottom: 16px;
    }
    
    .description {
        font-size: 16px;
        margin-bottom: 30px;
    }
}