.head {
    position: relative;
    display: flex;
    flex-shrink: 0;
    margin-bottom: 30px;
}

.title {
    min-width: 0;
    flex: auto;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.15;
    margin-right: 40px;
}