.wrap {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    // display: flex;
    // flex-flow: column;
    pointer-events: none;
    z-index: 900;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    will-change: opacity;
    pointer-events: auto;
    -webkit-tap-highlight-color: transparent;
}

.box {
    position: absolute;
    flex-grow: 1;
    pointer-events: none;
    z-index: 900;
}

@include min1201 {
    .box {
        display: flex;
        flex-direction: column;

        &.contentLeft {
            align-items: flex-start;
            justify-content: flex-start;
        }
    
        &.contentRight {
            align-items: flex-end;
            justify-content: flex-start;
        }
    }

    .wrap.pane {
        display: flex;
        flex-flow: column;
    }

    .wrap.dialog {
        .overlay {
            background-color: rgba(24, 0, 91, 0.2);
        }
    }
}

@include max1200 {
    .overlay {
        background-color: rgba(24, 0, 91, 0.2);
    }
}

@include max767 {

}