.search {
    flex-shrink: 0;
    margin-bottom: 20px;
}

.input {
    font-weight: 400 !important;
}

.icon {
    display: flex;
    align-items: center;
    padding: 0 0 0 20px;
    height: 100%;
    color: var(--color-typo-ghost);
}

@include max767 {
    .search {
        margin-bottom: 30px;
    }

    .icon {
        padding-left: 16px;
    }
}