@import './core/core.scss';

* {
    font-family: Normalidad;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

body, html {
    height: 100%;
    margin: 0;
}

#app {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
