.item {
    position: relative;
    display: flex;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -16px;
        right: -16px;
        bottom: 0;
        background-color: var(--color-essential);
        border-radius: 16px;
    }

    & + .item {
        margin-top: 16px;
    } 

    @include hover {
        &:hover::before {
            background-color: var(--color-surface);
        }
    }
}

.link {
    position: relative;
    display: grid;
    grid-template-columns: 33% 30% 12% 1fr;
    gap: 16px;
    align-items: center;
    flex: auto;
    min-width: 0;
    color: var(--color-typo-base);
    padding: 16px 0;
    text-decoration: none;
    user-select: text;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.metadata {
    display: flex;

    &Icon {
        flex-shrink: 0;
    }

    &Text {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        margin-left: 16px;
    }
}

.symbol,
.chain {
    font-size: 18px;
    line-height: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.symbol {
    font-weight: 500;

    &Chain {
        color: var(--color-typo-ghost);
    }
}

.chain {
    font-weight: 400;
}

.text {
    color: var(--color-typo-base);
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
    white-space: nowrap;
}

.cost {
    text-align: right;
}

.noteMobile {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.02em;
    white-space: nowrap;
}

.total {
    display: flex;
    flex-flow: column;
    justify-content: center;
    white-space: nowrap;
    text-align: right;

    &Value {
        font-weight: 500;
        font-size: 14px;
        line-height: 1;
        margin-bottom: 6px;
    }

    &Price {
        font-weight: 400;
        font-size: 14px;
        line-height: 1;
    }
}

@include min768 {
    .metadata {
        &Text {
            &.noChain {
                justify-content: center;
            }
        }
    }

    .total,
    .noteMobile,
    .chainMobile,
    .symbolChain {
        display: none;
    }
}

@include max1000 {
    .link {
        grid-template-columns: 30% 28% 14% 1fr;
    }
}

@include max767 {
    .item {
        &::before {
            display: none;
        }

        & + .item {
            margin-top: 30px;
        }
    }

    .link {
        grid-template-columns: auto 1fr;
        padding: 0;
    }

    .chain,
    .text {
        display: none;
    }

    .metadata {
        &Text {
            justify-content: center;
            margin-left: 12px;
        }
    }

    .symbol {
        font-size: 14px;
        margin-bottom: 6px;

        &Chain {
            font-size: 12px;
        }
    }
}