.alert {
    display: flex;
    align-items: center;
    background-color: var(--color-surface);
    padding: 10px;
    border-radius: 16px;
    margin-bottom: 40px;
}

.text {
    margin-left: 6px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    min-width: 0;
    flex: auto;
    margin-right: 15px;
}

.button {
    flex-shrink: 0;
}

@include min768 {
    .text {
        display: block;

        &Mobile {
            display: none;
        }
    }
}

@include max767 {
    .alert {
        padding: 11px;
        margin-bottom: 30px;
    }
    
    .text {
        font-size: 14px;
    }

    .text {
        display: none;

        &Mobile {
            display: block;
        }
    }
}