.head {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 0 0 30px 0;
    border-bottom: 1px solid var(--color-stroke);
    margin-bottom: 30px;
}

.balance {
    font-weight: var(--text-headline-xl-font-weight);
    font-size: var(--text-headline-xl-font-size);
    line-height: var(--text-headline-xl-line-height);
    letter-spacing: -0.01em;
    margin-bottom: 16px;

    span {
        color: var(--color-typo-ghost);
    }
}

.balanceFiat {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
}

.balance,
.balanceFiat {
    white-space: nowrap;
}

.formInput {
    margin-bottom: 30px;
}

.fees {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin-bottom: 30px;
}

.fee {
    display: flex;
    justify-content: space-between;

    &Label {
        color: var(--color-typo-ghost);
        flex: auto;
        min-width: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &Value {
        flex-shrink: 0;
        font-size: 14px;
        font-weight: 400;
        text-align: right;
    }
}

.limits {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);
    background-color: var(--color-surface);
    border: 0;
    padding: 6px 8px;
    margin: 0;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    border-radius: 8px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.action {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-areas:
        'label button'
        'value button';
    gap: 4px 16px;

    &Label {
        grid-area: label;
        color: var(--color-typo-ghost);
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        white-space: nowrap;
    }

    &Value {
        grid-area: value;
        font-weight: var(--text-headline-xl-font-weight);
        font-size: var(--text-headline-xl-font-size);
        line-height: 34px;
        letter-spacing: -0.01em;
        white-space: nowrap;
    }

    &Button {
        grid-area: button;
        display: flex;
        justify-content: flex-end;
    }
}
.curr{
    margin-top: 20px;
    margin-right: 5px;
}
.iconMasterCard{
    margin-right: 10px;
    margin-top: 10px!important;
}
.iconMir{
 height: 15px;
 margin-top: 20px;
 margin-right: 10px;
}
.errorMessage{
    color: red;
    margin-top: 5px;
    margin-left: 5px;
}
.submitBtn{
    width: 150px;
}