.output {
    background-color: var(--color-essential);
    border: 1px solid var(--color-stroke);
    padding: 30px;
    border-radius: 20px;
}

.head {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.asset {
    display: inline-flex;
    align-items: center;

    &Name {
        color: var(--color-typo-ghost);
        font-size: 18px;
        font-weight: 300;
        line-height: 1;
        letter-spacing: -0.02em;
        margin-left: 8px;
    }
}

.assetSkeleton {
    width: 120px;
    height: 18px;
}

.address,
.addressSkeleton {
    margin-bottom: 16px;
}

.address {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-typo-ghost);
    font-size: 14px;
    font-weight: 400;

    &Text {
        margin-right: 8px;
        line-height: 16px;
    }

    &Icon {
        display: inline-flex;
        flex-shrink: 0;
    }
}

.addressSkeleton {
    width: 155px;
    height: 16px;
}

.info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-bottom: 30px;

    &Content {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
}

.balance,
.balanceSkeleton {
    margin-bottom: 16px;
}

.balance {
    font-size: var(--text-headline-xl-font-size);
    font-weight: var(--text-headline-xl-font-weight);
    line-height: var(--text-headline-xl-line-height);
    white-space: nowrap;
}

.balanceSkeleton {
    width: 150px;
    height: 34px;
}

.conversion {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    white-space: nowrap;
}

.conversionSkeleton {
    width: 60px;
    height: 14px;
}

.actions {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding-top: 30px;
    border-top: 1px solid var(--color-stroke);
}

.action {
    display: flex;
    height: 78px;

    &Wrap {
        min-width: 0;
        flex: auto;
        color: var(--color-typo-base);
        text-decoration: none;
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    &Icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        background-color: var(--color-surface);
        border: 1px solid var(--color-surface);
        margin: 0 auto 15px auto;
        border-radius: 68px;
        transition: border-color 0.1s linear, box-shadow 0.1s linear;
    }

    &Text {
        font-size: 18px;
        font-weight: 400;
        letter-spacing: -0.02em;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        transition: color 0.1s linear;
    }

    &Skeleton {
        width: 44px;
        height: 44px;
        margin: 17px auto;
    }

    @include hover {
        &:hover &Icon {
            border-color: var(--color-primary);
            box-shadow: 0 1px 0 0 var(--color-primary);
        }

        &:hover &Text {
            color: var(--color-primary);
        }
    }
}

@include max767 {
    .output {
        padding: 20px;
        margin: 0 -20px;
    }

    .head {
        margin-bottom: 30px;
    }

    .asset {
        &Name {
            font-size: 16px;
        }
    }

    .assetSkeleton {
        height: 18px;
    }

    .actions {
        padding-bottom: 10px;
    }

    .balanceSkeleton {
        height: 28px;
    }

    .action {
        height: 72px;

        &Icon {
            width: 40px;
            height: 40px;
        }

        &Text {
            font-size: 16px;
            line-height: 100%;
        }

        &Skeleton {
            width: 40px;
            height: 40px;
            margin: 16px auto;
        }
    }
}