.content {
    display: flex;
    flex-flow: column;
    pointer-events: auto;
    box-sizing: border-box;
}

.box {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    background-color: var(--color-essential);
    overflow: hidden;
    will-change: transform, opacity;
}

@include min1201() {
    .content.pane {
        position: relative;
        width: auto;
        max-width: 50%;
        margin-top: 16px;

        .box {
            padding: var(--popup-pane-padding);
            border-radius: var(--popup-pane-border-radius);
            box-shadow: var(--popup-pane-box-shadow);
        }

        .popup-appear-enter {
            &-from {
                opacity: 0;
                transform: scale(0.62);
            }
        
            &-to {
                opacity: 1;
                transform: scale(1);
            }
        
            &-active {
                transform-origin: top left;
                transition: opacity 0.1s linear, transform 0.12s linear;
            }
        }
    }
}

@include max1200 {
    .content.pane {
        .box {
            transform-origin: center !important;
        }
    }

    @include min768 {
        .content.pane {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .box {
                width: 490px;
                max-height: calc(100vh - 10px);
                padding: var(--popup-dialog-padding);
                border-radius: var(--popup-dialog-border-radius);
                box-shadow: var(--popup-dialog-box-shadow);
            }
        }

        .popup-appear-enter {
            &-from {
                opacity: 0;
                transform: scale(0.75);
            }

            &-to {
                opacity: 1;
                transform: scale(1);
            }

            &-active {
                transition: transform 0.2s ease-in-out, opacity 0.15s ease-in-out;
            }
        }
        
        .popup-appear-leave {
            &-from {
                opacity: 1;
                transform: scale(1);
            }

            &-to {
                opacity: 0;
                transform: scale(1.15);
            }

            &-active {
                transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out;
            }
        }
    }
}

@include min768 {
    .content.dialog {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        .box {
            width: 490px;
            max-height: calc(100vh - 10px);
            padding: var(--popup-dialog-padding);
            border-radius:  var(--popup-dialog-border-radius);
            box-shadow: var(--popup-dialog-box-shadow);
        }

        .popup-appear-enter {
            &-from {
                opacity: 0;
                transform: scale(0.75);
            }

            &-to {
                opacity: 1;
                transform: scale(1);
            }

            &-active {
                transition: transform 0.2s ease-in-out, opacity 0.15s ease-in-out;
            }
        }
        
        .popup-appear-leave {
            &-from {
                opacity: 1;
                transform: scale(1);
            }

            &-to {
                opacity: 0;
                transform: scale(1.15);
            }

            &-active {
                transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out;
            }
        }
    }
}

// adaptive
@include max767 {
    .content {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        max-height: calc(100% - 20px);
        transform: unset;
    }

    .box {
        width: 100%;
        max-height: 100%;
        padding: var(--popup-bottom-sheet-padding);
        box-shadow: var(--popup-bottom-sheet-box-shadow);
        border-radius: var(--popup-bottom-sheet-border-radius);
        overflow: hidden;
    }

    .popup-appear-enter {
        &-from {
            transform: translate(0, 100%);
        }
    
        &-to {
            transform: translate(0, 0);
        }
    
        &-active {
            transition: transform 0.3s cubic-bezier(0.46, 0.32, 0.2, 0.9);
        }
    }
    
    .popup-appear-leave {
        &-from {
            transform: translate(0, 0);
        }
    
        &-to {
            transform: translate(0, 100%);
        }
    
        &-active {
            transition: transform .15s ease-in-out;
        }
    }
}