.header {
    position: relative;
    background-color: var(--color-essential);
    padding: 20px 0;
    margin-bottom: 40px;
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

.title {
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
}

.side {
    display: flex;
    align-items: center;
}

.button {
    & + .button {
        margin-left: 16px;
    }
}

@include min1201 {
    .menuButton {
        display: none;
    }
}

@include max1200 {
    .header {
        padding: 30px 0 10px 0;
        margin-bottom: 30px;
    }

    .button {
        display: none;

        &.buttonBuy {
            display: flex;
            margin-right: 16px;
        }
    }
}

@include max767 {
    .title {
        font-size: 20px;
    }

    .button {
        &.buttonBuy {
            display: none;
        }
    }
}