.icon {
    display: inline-flex;
    width: 20px;
    height: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 68px;
    background-clip: content-box;
    box-sizing: border-box;
    border: 1px solid var(--color-stroke);
    flex-shrink: 0;
    position: relative;
    transform: translateZ(0);

    &.l {
        width: 44px;
        height: 44px;
    }

    &.m {
        width: 24px;
        height: 24px;
    }

    &.s {
        width: 18px;
        height: 18px;
    }
}

@include max767 {
    .icon {
        &.l {
            width: 40px;
            height: 40px;
        }
    }
}