@mixin font($family, $weight, $url) {
    @font-face {
        font-family: $family;
        src: url($url + '.woff2') format('woff2'), url($url + '.woff') format('woff');
        font-weight: $weight;
        font-display: swap;
        font-style: normal
    }
  }