.l {
    width: 44px;
    height: 44px;
}

.m {
    width: 24px;
    height: 24px;
}

.s {
    width: 18px;
    height: 18px;
}

.border {
    border: 1px solid var(--color-stroke);
}

@include max767 {
    .l {
        width: 40px;
        height: 40px;
    }
}