.transaction {
    position: relative;
    display: flex;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -16px;
        right: -16px;
        bottom: 0;
        background-color: var(--color-essential);
        // transition: transform 0.15s ease-in-out, background-color 0.15s linear;
        border-radius: 16px;
    }

    & + .transaction {
        margin-top: 16px;
    } 

    @include hover {
        &:hover::before {
            background-color: var(--color-surface);
        }
    }
}

.wrap {
    position: relative;
    display: grid;
    grid-template-columns: 27% 1fr 8% 1fr 15%;
    gap: 16px;
    align-items: center;
    flex: auto;
    min-width: 0;
    color: var(--color-typo-base);
    padding: 16px 0;
    text-decoration: none;
    user-select: text;
    cursor: pointer;
}

.type {
    display: flex;

    &Icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        background-color: var(--color-surface);
        border-radius: 80px;
        flex-shrink: 0;
    }

    &Content {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        flex: auto;
        min-width: 0;
        margin-left: 16px;
    }

    &Name {
        font-size: 18px;
        font-weight: 400;
        line-height: 1;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

@include hover {
    .transaction:hover {
        .typeIcon {
            background-color: var(--color-essential);
        }
    }
}

.time {
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
    color: var(--color-typo-ghost);
    white-space: nowrap;
}

.asset {
    display: flex;

    &Icon {
        flex-shrink: 0;
    }

    &Content {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        flex: auto;
        min-width: 0;
        margin-left: 16px;
    }

    &Value, &Name {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &Value {
        font-size: 18px;
        font-weight: 400;
        line-height: 1;
    }

    &Name {
        font-size: 18px;
        font-weight: 300;
        line-height: 1;
        color: var(--color-typo-ghost);
    }
}

.arrow {
    svg {
        display: flex;
    }
}

.gas {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 44px;

    &Text {
        font-size: 18px;
        font-weight: 300;
        line-height: 1;
        color: var(--color-typo-ghost);
    }

    &Price {
        font-size: 18px;
        font-weight: 400;
        line-height: 1;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}