.wrap {
    display: flex;
    flex-flow: column;
}

.head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-shrink: 0;
    margin-bottom: 13px;
}

.chart {
    position: relative;
    flex: auto;
    height: 243px;

    &Preloader {
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

.asset,
.assetSkeleton {
    height: 25px;
    margin-bottom: 17px;
}

.assetSkeleton {
    width: 120px;
}

.asset {
    display: flex;
    align-items: center;

    &Title {
        font-size: var(--text-headline-m-font-size);
        font-weight: var(--text-headline-m-font-weight);
        line-height: var(--text-headline-m-line-height);
        white-space: nowrap;
        letter-spacing: -0.01em;

        span {
            color: var(--color-typo-ghost);
        }
    }
}

.price,
.priceSkeleton {
    margin-bottom: 6px;
}

.price {
    font-size: var(--text-headline-m-font-size);
    font-weight: var(--text-headline-m-font-weight);
    line-height: var(--text-headline-m-line-height);
    white-space: nowrap;
    letter-spacing: -0.01em;
}

.priceSkeleton {
    display: flex;
    width: 100px;
    height: 25px;
}

.percentSkeleton {
    display: flex;
    width: 70px;
    height: 25px;
}

.controls {
    display: grid;
    grid-template-columns: repeat(4, 43px);
    gap: 8px;

    & > .skeleton {
        height: 25px;
    }
}

.interval {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    color: var(--color-typo-base);
    border: 0;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    background-color: var(--color-surface);
    border-radius: 8px;
    user-select: none;
    margin: 0;
    border: 0;
    padding: 0;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    @include hover {
        &:hover {
            background-color: var(--color-stroke);
        }
    }

    &.active {
        color: var(--color-typo-inverse);
        background-color: var(--color-base);
        cursor: default;
        pointer-events: none;
    }
}

// mobile
.wrap.mobile {
    .chart {
        height: 395px;
        margin: 0 -20px;

        @include min768 {
            margin: 0 -30px;
        }

        &Preloader {
            left: unset;
            right: 0;
        }

        @media (max-height: 700px) {
            height: 350px;
        }

        @media (max-height: 600px) {
            height: 240px;
        }
    }

    .head {
        flex-flow: column;
        justify-content: flex-start;
        margin-bottom: 30px;
    }

    .asset,
    .assetSkeleton {
        margin-bottom: 25px;
    }

    .asset {
        &Title {
            font-size: 20px;
            margin-left: 8px;
        }
    }

    .assetSkeleton {
        height: 25px;
    }

    .price,
    .priceSkeleton {
        margin-bottom: 8px;
    }

    .price {
        font-size: 30px;
    }

    .priceSkeleton {
        height: 30px;
    }
    
    .info {
        margin-bottom: 30px;
    }

    @media (max-height: 700px) {
        .head {
            margin-bottom: 20px;
        }
        
        .asset,
        .assetSkeleton {
            margin-bottom: 20px;
        }

        .info {
            margin-bottom: 25px;
        }
    }
}