.toast {
    position: fixed;
    top: 16px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    max-width: calc(100% - 20px);
    padding: 18px 20px;
    border-radius: 16px;
    user-select: none;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &.danger {
        color: var(--toast-danger-typo-color);
        background-color: var(--toast-danger-fill-color);
    }

    & + .toast {
        margin-top: 12px;
    }
}

.icon {
    display: flex;
    flex-shrink: 0;
    margin-right: 12px;
}

.text {
    flex: auto;
    min-width: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.02em;
}

@include max767 {
    .toast {
        padding: 14px 20px;
    }
    
    .text {
        font-size: 16px;
    }
}