.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    border: none;
    background: transparent;
    color: currentcolor;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    line-height: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    @include hover {
        &:hover {
            background-color: var(--color-surface);
        }
    }


    &.active {
        background-color: var(--color-surface);
    }
}