.colors {
    --color-base: #15141B;
    --color-essential: #fff;
    --color-primary: #7449F0;
    --color-success: #499566;
    --color-warning: #E77738;
    --color-danger: #D2345B;
    --color-stroke: #E3E2E9;
    --color-surface: #F2F3F9;

    --color-bg-success: rgba(73, 149, 102, 0.2);
    --color-bg-warning: rgba(231, 119, 56, 0.2);
    --color-bg-danger: rgba(210, 52, 91, 0.2);
    --color-bg-soft: #EDEEFE;

    --button-action-fill-color-base: #EDEEFE;
    --button-action-fill-color-hovered: #D9DBFF;
    --button-action-fill-color-loading: #EDEEFE;
    --button-action-fill-color-disabled: #F2F3F9;
    --button-action-border-color-base: #7449F0;
    --button-action-border-color-hovered: #7449F0;
    --button-action-border-color-loading: #7449F0;
    --button-action-border-color-disabled: #ADABB4;
    --button-action-typo-color-base: #7449F0;
    --button-action-typo-color-hovered: #7449F0;
    --button-action-typo-color-loading: #7449F0;
    --button-action-typo-color-disabled: #ADABB4;

    --button-filled-fill-color-base: #7449F0;
    --button-filled-fill-color-hovered: #8056FA;
    --button-filled-fill-color-loading: #7449F0;
    --button-filled-fill-color-disabled: #F2F3F9;
    --button-filled-typo-color-base: #fff;
    --button-filled-typo-color-hovered: #fff;
    --button-filled-typo-color-loading: #fff;
    --button-filled-typo-color-disabled: #ADABB4;
    

    --switch-fill-color-base: #fff;
    --switch-fill-color-active: #7449F0;
    --switch-handle-color-base: #E3E2E9;
    --switch-handle-color-active: #fff;
    --switch-border-color-base: #E3E2E9;
    --switch-border-color-active: #7449F0;

    --shadow-light-color: #E3E2E7;

    --hidden-sum-color-100: rgba(123, 123, 123, 0.1);
    --hidden-sum-color-200: rgba(123, 123, 123, 0.2);
    --hidden-sum-color-300: rgba(123, 123, 123, 0.3);
    --hidden-sum-color-400: rgba(123, 123, 123, 0.4);
    --hidden-sum-color-500: rgba(123, 123, 123, 0.5);

    --gradient-base: radial-gradient(111.89% 485% at 114.77% 370.45%, #FF813A 40.1%, #7449F0 100%);

    --color-typo-base: #15141B;
    --color-typo-inverse: #fff;
    --color-typo-ghost: #ADABB4;
}